
html,body{
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 80px;
}
h1
{
    color: blue;
    text-align: center;
}
#orange-text
{
    color: orange;
}
table
{
    border: 2px solid black;
    border-collapse: collapse;
}
td, th
{
    border: 1px solid black;
}
td
{
    padding: 10px;
}
th
{
    background-color: #c90016;
}
.container
{
    display: flex;
    flex-wrap: wrap;
}

.container > div
{
    background-color: #c5ffb5;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 30px 10px;
}
@media (min-width: 500px)
{
    h1::before
    {
        content: "Luca Cotter";
    }
}

@media (max-width: 499px)
{
    h1::before
    {
        content: "Luca C.";
    }
}

.good {
    color: green;
}
.medium {
    color: #FDE541;
}
.bad {
    color: red;
}
